*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f8fafd;
}
.navBar{
  width: 95%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  /* background: red; */
}
.navBar-addContact{
  display: flex;
  gap: 15px;
  align-items: center;
}
.navBar-addContact--marginLeft{
  margin-left: 18px;
  /* background: black; */
}
.iconHelp, .iconSetting, .iconApps{
  color: #5f6368;
  opacity: 1;
}
.navbar-addcontact--liststylenone{
  list-style: none;
}
.menuBerger{
  cursor: pointer;
}
.imgContact--size{
  width: 40px;
  height: 40px;
}
.textContact--roboto{
  font-family: 'Product sans', Arial, sans-serif;
  font-weight: 420;
  font-size: 22px;
  line-height: 24px;
  color: #5f6368;
  opacity: 1;
  vertical-align: middle;
}
.searchBar{
  display: flex;
  gap: 15px;
  background: #f1f3f4;
  width: 729px;
  height: 7vh;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 5px 5px 5px 5px;

}
.searchBar--TransparentSize{
  border: transparent;
  background-color: transparent;
  font-size: 17px;
  width: 729px;
}
.searchBarIcon{
  margin-top: 7px;
  margin-left: 20px;
}
.iconSettinghelp--marginRight{
  display: flex;
  gap: 15px;
  margin-right: 28px;
}
.iconCount{
  width: 30px;
  height: 30px;
  background-color: #78909c;
  border-radius: 50%;
  margin-bottom: 8px;
}

/* ---------------------------------------------------Sections */

.mainSections{
  width: 95%;
  margin: 0 auto;
  height: 84vh;
  margin-top: 20px;
}
.addContact{
  width: 22%;
  height: 84vh;
  display: inline-block;
}
.createContact{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 15px;
  margin-right: 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 15px;
  border: transparent;
  background: hsl(204, 100%, 88%);
}
.showInfoContact-container{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.LibelleText, .manage-CorrectText{
  margin-top: 8px;
  margin-left: 13px;
}
.manageIconTextLibelle{
  display: flex;
  align-items: center;
  gap: 164px;
}
.showInfoContact-list{
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.showInfoContact-list--liststylenone{
  list-style: none;
  padding: 10px 10px;
  margin-right: 10px;
  font-size: 15px;
  border: transparent;
}
.showInfoContact-list--borderRadius30Bg{
  border-radius: 30px;
  background: hsl(204, 100%, 88%);
}
.showInfoContact-list--displayflex{
  display: flex;
  align-items: center;
  gap: 20px;
}
.iconInfo--marginleft100{
  margin-left: 102px;
}
.showInfoContact-list--textdecorationNoneRed{
  text-decoration: none;
  color: black;
}
.infoContacts{
  width: 78%;
  box-sizing: border-box;
  float: right;
  height: 84vh;
  background: #ffffff;
  border-radius: 20px 20px 20px 20px;
  transition: 0.5s;
}
.iconEditDelet--marginLeftOpacity0{
  margin-left: 1.6rem;
  opacity: 0;
}
.manageIconDeleteEdit--opacity{
  opacity: 0;
}

.infoContactTopcontainer{
  width: 98%;
  box-sizing: border-box;
  height: 15vh;
  margin: 0 auto;
  border-bottom: 1px solid #d3d5d3;
  /* visibility: hidden; */
  /* opacity: 0; */
}
.identifierContact{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.infoContactTopcontainer-titre{
  font-family: "Google Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2rem;
  margin-top: 30px;
  margin-left: 19px;
}
.identifierContact-icons{
  display: flex;
}